// colors
$light-grey: #e8e8e8;
$dark-grey: #0000008a;
$red: #ff0000;

$spacing: (
  "xs": 4px,
  "s": 8px,
  "m": 12px,
  "l": 24px,
  "xl": 34px,
);

// mixin
@mixin form-style {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    padding: 12px;
    display: flex;
    flex-direction: column;
    width: 250px;
  }
}

@mixin center {
  max-width: 1200px;
  margin: 0 auto;
}
