@use "sass:map";
@import "../../../styles/variables.scss";

.nav {
  height: 45px;
  padding: map.get($spacing, "s");
  &-container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid $light-grey;
    .list {
      display: flex;
      &-item {
        margin: 0px map.get($spacing, "s");
        &-link {
          cursor: pointer;
        }
      }
    }
  }
}
