.nav {
  height: 45px;
  padding: 8px;
  &-container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid #e8e8e8;
    .list {
      display: flex;
      &-item {
        margin: 0px 8px;
        &-link {
          cursor: pointer;
        }
      }
    }
  }
}
