@use "sass:map";
@import "../../../styles/variables.scss";

.nav {
  height: 45px;
  padding: map.get($spacing, "s");
  &-container {
    @include center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .list {
      display: flex;
      &-item {
        margin: 0px map.get($spacing, "s");
        &-link {
          cursor: pointer;
          text-decoration: none;
          color: $dark-grey;
        }
      }
    }
  }
}

.active {
  font-weight: bold;
  border-bottom: 1px solid $dark-grey;
  padding-bottom: map.get($spacing, "xs");
}
