@use "sass:map";
@import "../../styles/variables.scss";

.wrapper {
  @include center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .card {
    margin: map.get($spacing, "s");
    width: 350px;
    &-image {
      width: 100%;
      height: 300px;
    }
    .margin-helper {
      margin: map.get($spacing, "s") 0px;
    }
  }
}
