<div class="wrapper">
  <mat-card *ngFor="let room of rooms | async" class="card">
    <div>
      <mat-card-title>{{ room.name }}</mat-card-title>
      <mat-card-subtitle>{{ room.type }}</mat-card-subtitle>
    </div>

    <div class="card-image">
      <app-image [imageName]="room.imageName" [alt]="room.name"></app-image>
    </div>

    <div class="margin-helper">
      <button mat-flat-button color="primary" (click)="getDetails(room.id)">
        Room Details
      </button>
      <button mat-button color="primary" (click)="deleteRoom(room)">
        Delete
      </button>
    </div>
  </mat-card>
</div>
