<div class="wrapper">
  <mat-card>
    <form [formGroup]="form" (submit)="save()">
      <mat-form-field class="margin-helper">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>
      <mat-radio-group
        aria-label="Select an option"
        name="room"
        formControlName="type"
        required
      >
        <mat-radio-button value="Standard">Standard</mat-radio-button>
        <mat-radio-button value="Delux">Delux</mat-radio-button>
      </mat-radio-group>
      <mat-form-field class="margin-helper">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" required></textarea>
      </mat-form-field>
      <app-image-upload
        (selectedFile)="getCurrentFileUpload($event)"
      ></app-image-upload>
      <div *ngIf="currentFileUpload" class="image-wrapper">
        <app-image [file]="currentFileUpload"></app-image>
      </div>
      <div *ngIf="roomData && !currentFileUpload" class="image-wrapper">
        <app-image [imageName]="roomData.image.name"></app-image>
      </div>
      <mat-error *ngIf="!currentFileUpload">{{ errorMessage }}</mat-error>
      <div class="actions">
        <button
          mat-flat-button
          color="primary"
          [disabled]="isSubmitting"
          type="submit"
        >
          Save
        </button>
        <button mat-button color="primary" (click)="cancel()">Cancel</button>
      </div>
    </form>
    <mat-progress-bar
      *ngIf="isSubmitting"
      mode="indeterminate"
    ></mat-progress-bar>
  </mat-card>
</div>
